In [7]:
import os
import pandas as pd
import json

In [3]:
df = pd.read_csv("../data_given/winequality.csv")

In [5]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,TARGET
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [9]:
# Now let's create a json schema out of the ranges min and max

df.describe().loc[["min","max"]].to_json("schema_in.json")

In [10]:
# Now let's create a custom exception message to raise when the input data is not in this range

class NotInRangeError(Exception):
    def __init__(self, message="Value is not in range"):
        self.message=message
        super().__init__(self.message)

In [11]:
raise NotInRangeError

NotInRangeError: Value is not in range

In [27]:
import json

In [28]:
file_ = {
  "alcohol": [
    "0"
  ],
  "chlorides": [
    "0"
  ],
  "citric_acid": [
    "0"
  ],
  "density": [
    "0"
  ],
  "fixed_acidity": [
    "5"
  ],
  "free_sulfur_dioxide": [
    "0"
  ],
  "pH": [
    "0"
  ],
  "residual_sugar": [
    "0"
  ],
  "sulphates": [
    "0"
  ],
  "total_sulfur_dioxide": [
    "0"
  ],
  "volatile_acidity": [
    "0"
  ]
}

In [84]:
list(file_.keys())

['alcohol',
 'chlorides',
 'citric_acid',
 'density',
 'fixed_acidity',
 'free_sulfur_dioxide',
 'pH',
 'residual_sugar',
 'sulphates',
 'total_sulfur_dioxide',
 'volatile_acidity']

In [29]:
[float(list(file_.values())[i][0]) for i in range(0,len(list(file_.values())))]

[0.0, 0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [32]:
list(file_.keys())

['alcohol',
 'chlorides',
 'citric_acid',
 'density',
 'fixed_acidity',
 'free_sulfur_dioxide',
 'pH',
 'residual_sugar',
 'sulphates',
 'total_sulfur_dioxide',
 'volatile_acidity']

In [40]:
import pandas as pd
dict(zip(list(file_.keys()), [float(list(file_.values())[i][0]) for i in range(0,len(list(file_.values())))])).items()

dict_items([('alcohol', 0.0), ('chlorides', 0.0), ('citric_acid', 0.0), ('density', 0.0), ('fixed_acidity', 5.0), ('free_sulfur_dioxide', 0.0), ('pH', 0.0), ('residual_sugar', 0.0), ('sulphates', 0.0), ('total_sulfur_dioxide', 0.0), ('volatile_acidity', 0.0)])

In [43]:
pd.DataFrame(dict(zip(list(file_.keys()), [float(list(file_.values())[i][0]) for i in range(0,len(list(file_.values())))])))

ValueError: If using all scalar values, you must pass an index

In [76]:
datas=dict(zip(list(file_.keys()), vals))

In [83]:
pd.DataFrame(dict(zip(list(file_.keys()), vals)))

,alcohol,chlorides,citric_acid,density,fixed_acidity,free_sulfur_dioxide,pH,residual_sugar,sulphates,total_sulfur_dioxide,volatile_acidity
0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
cols=list(dict(zip(list(file_.keys()), [float(list(file_.values())[i][0]) for i in range(0,len(list(file_.values())))])).keys())

In [79]:
new_val=[float(list(file_.values())[i][0]) for i in range(0,len(list(file_.values())))]

In [82]:
vals=[[new_val[i]] for i in range(0,len(new_val))]

In [75]:
vals = [[list(datas.values())[i]] for i in range(0,len(list((datas.values()))))]

In [73]:
for i in range(0,len(list((datas.values())))):
    print(i)
    print([list(datas.values())[i]])

0
[0.0]
1
[0.0]
2
[0.0]
3
[0.0]
4
[5.0]
5
[0.0]
6
[0.0]
7
[0.0]
8
[0.0]
9
[0.0]
10
[0.0]